/* global styles are written here, in SCSS syntax. Variables and mixins from src/variables.scss are automatically imported*/
body {
    background-color: $bg-color !important;
    overflow-x: hidden;
    font-family: Poppins;
}

html {
    scroll-padding-top: 62px;
}
.spacer {
    padding-bottom: 7rem;
}
.link-light {
    color: #fbfbfb !important;
    &:hover {
        color: #d3d3d3 !important;
    }
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #494949;
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(128, 128, 128);
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185);
}

input, textarea {
    color-scheme: dark;
}

// bootstrap changes
.btn-primary {
    background-color: $primary;
    color: #fff;
    &:hover {
        background-color: rgb(60, 0, 180);
    }
    &:focus {
        background-color: rgb(86, 38, 182);
    }
}

.btn {
    box-shadow: none;
}

.btn-primary:first-child:hover, .btn-primary:focus-visible, .btn-primary:hover, :not(.btn-check)+.btn-primary:hover {
    box-shadow: 0 8px 9px -4px rgb(74 0 224 / 30%), 0 4px 18px 0 rgb(74 0 224 / 20%);
    background-color: #540de2;
}