/* global styles are written here, in SCSS syntax. Variables and mixins from the src/variables.scss file are automatically imported*/
body {
    font-family: roboto;
    background-color: $bg-color !important;
    color: $fg-color !important;
    overflow-x: hidden;
}
