/* global styles are written here, in SCSS syntax. Variables and mixins from src/variables.scss are automatically imported*/
body {
    background-color: $bg-color !important;
    overflow-x: hidden;
}
[data-scroll] {
    opacity: 0;
    will-change: transform, scale, opacity;
    transform: translateY(6rem) scale(0.93);
    transition: all 0.5s !important;
}
[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0) scale(1);
}
[data-scroll="out"] {
    opacity: 0;
    will-change: transform, scale, opacity;
    transform: translateY(6rem) scale(0.93);
    transition: all 1.5s;
}
html {
    scroll-padding-top: 58px;
}
.spacer {
    padding-bottom: 7rem;
}
.link-light {
    color: #fbfbfb !important;
    &:hover {
        color: #d3d3d3 !important;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #494949;
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(128, 128, 128);
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185);
}

input {
    color-scheme: dark;
}

// bootstrap changes
.btn-primary {
    background-color: #4a00e0;
    color: #fff;
    &:hover {
        background-color: rgb(60, 0, 180);
    }
}
